/* *{ 
  outline: 1px solid red;
}*/
#header{
 text-align: center;
  height: 40px; 
 }
 #headertext{
 text-align: center;
 }
#footer{
height: 100px; 
  } 
#mainheader{
  height: 10px; 
 }
.lightblue{
  background-color: rgb(0, 183, 255);
  }
.blue {
  background: hsla(229, 100%, 54%, 0.89);
}
.white {
  color:white;
}
.textbold{
font-weight: bolder;
}
.d-flex {
  display: flex;
  padding-top: 30px;
  }
.section {
  padding-top: 10px;
  padding: 10px 10px;
  }
.bold{
 text-align: center;
 font-size: 0vw;
 font-weight: normal;
}